<!--buttons.html-->

<!DOCTYPE html>
<html>
<body>

<h2>Control your immersive room!</h2>

<button id="close-image"><img src="https://sun9-79.userapi.com/impg/RXvCHSkd7Swa-OxCBJTfzMUZ86kQNIKfGFk1iw/LRZENEpASBI.jpg?size=1920x1080&quality=96&sign=81bc683a0f97547f383782851de0c044&type=album" alt="Submit" width="160" height="90" value="grass" onClick="grass()"></button>



<button id="close-image2"><img src="https://sun9-80.userapi.com/impg/ooNOHdTtpf-M9o3oYJ3Nn7qo0Jhtp5WZtK93rA/3MCzPOyIJFk.jpg?size=1920x1080&quality=96&sign=1d6d62838b54b7d6528cbf535a910e64&type=albumm" alt="Submit" width="160" height="90" value="water" onClick="water()"></button>

<script>
    function grass() {
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "http://192.168.1.205:5000/themes");
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
                console.log(xhr.status);
                console.log(xhr.responseText);
            }
        };

        let data = `{
        "theme": "grass"
        }`;

        xhr.send(data)
    }

    function sender(value) {
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "http://192.168.1.205:5000/themes");
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
                console.log(xhr.status);
                console.log(xhr.responseText);
            }
        };

        let data = `{
        "theme": value
        }`;

        xhr.send(data)
    }

    function water() {
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "http://192.168.1.205:5000/themes");
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
                console.log(xhr.status);
                console.log(xhr.responseText);
            }
        };

        let data = `{
        "theme": "water"
        }`;

        xhr.send(data)
    }
</script>


</body>
</html>
