<!--buttons.html-->

<!DOCTYPE html>
<html>

<body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    
    <h2>Control your immersive room!</h2>

    <button>
        <img
            src="https://sun9-79.userapi.com/impg/RXvCHSkd7Swa-OxCBJTfzMUZ86kQNIKfGFk1iw/LRZENEpASBI.jpg?size=1920x1080&quality=96&sign=81bc683a0f97547f383782851de0c044&type=album"
            alt="Submit" 
            width="160" 
            height="90" 
            id="grass"
            onclick="sender(this.id)"
        >
    </button>

    <button>
        <img
            src="https://sun9-80.userapi.com/impg/ooNOHdTtpf-M9o3oYJ3Nn7qo0Jhtp5WZtK93rA/3MCzPOyIJFk.jpg?size=1920x1080&quality=96&sign=1d6d62838b54b7d6528cbf535a910e64&type=albumm"
            alt="Submit" 
            width="160" 
            height="90" 
            id="water"
            onclick="sender(this.id)"
        >
    </button>

    <script>
        function sender(theme) {
            axios.post('http://127.0.0.1/themes', { command: theme });
        };
    </script>
</body>
</html>